#ignore all files
*.*
Client
version

#keep git files
!README.md
!LICENSE

#keep CNCNetCN files
!INI/
!Resources/
!Resources/Binaries

!INI/MPMaps.ini

!Resources/GameOptions.ini
!Resources/CnCNetLobby.ini
!Resources/ClientDefinitions.ini
!Resources/MultiplayerGameLobby.ini

!Resources/Yuri Theme/MainMenu.ini

!Resources/德国icon.png
!Resources/尤里icon.png
!Resources/法国icon.png
!Resources/古巴icon.png
!Resources/韩国icon.png
!Resources/利比亚icon.png
!Resources/美国icon.png
!Resources/苏俄icon.png
!Resources/伊拉克icon.png
!Resources/英国icon.png

!Resources/Binaries/Windows/ClientCore.dll
!Resources/Binaries/Windows/ClientGUI.dll
!Resources/Binaries/Windows/DTAConfig.dll

!Resources/clientdx.exe